server {
    listen       {{ nginx_port }};
    server_name  {{ domain }} www.{{ domain }};
    root /var/www/{{ domain }};

    access_log /var/log/nginx/{{ domain }}_access_log;
    error_log /var/log/nginx/{{ domain }}_error_log;

    location / {
        fastcgi_pass unix:{{ fastcgi_pass_path }};
        proxy_redirect     off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
    
    location ~* ^.+\.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|tar|wav|bmp|rtf|js)$ {
            expires modified +1w;
    }
}